---
type: integration-test-cases
stage: 01_analysis
date:
author: tester
related: []
reviewed-by: []
---

# 통합 테스트 케이스 설계서

## 케이스 목록

| IT-ID | 관련 RQ | 관련 인터페이스/모듈 | 전제 | 단계 | 기대 결과 |
|-------|---------|-------------------|------|------|-----------|
| IT-01 | RQ-001 | ... | ... | ... | ... |
